.exercise-title {
  top: -9px !important;
}

.bar-buttons {
  top: 12px !important;
}

.exercise-title-controls button::after {
  inset: -12px -21px -30px -21px !important;
  transform: translateY(7px) !important;
}

.exercise-title-controls button:not(:disabled),
.exercise-title-controls button:not(:disabled)::after {
  cursor: pointer !important;
}
